
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>ResumeGen</title>
  {% block head %}{% endblock %}
<script>
  // Push the static page into the browser history
window.addEventListener('beforeunload', function() {
  //alert('You pressed the back button, START AGAIN!');
  history.pushState(null, null, '/');

});
</script>
</head>

<body class="font-sans bg-white">
  <header>
    <nav class="bg-indigo-50 border-gray-200 px-4 lg:px-6 py-0.5">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="#" class="flex items-center"><span
            class="text-indigo-600 self-center text-xl font-semibold whitespace-nowrap"><img
              src="{{ url_for('static', filename='new_logo.png') }}" alt="Logo" class="rounded" width="100px"
              height="auto"></span></a>

      </div>
    </nav>
    {% block header %}{% endblock %}
  </header>
  {% block body %}{% endblock %}
<br>
 </body>
</html>