aenum==3.0.0
allure-pytest==2.8.40
allure-python-commons==2.8.40
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
decorator==5.0.9
dill==0.3.3
glob2==0.7
idna==2.10
iniconfig==1.1.1
jproperties==2.1.0
jsonpath-ng==1.5.2
Mako==1.1.4
MarkupSafe==2.0.1
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pluggy==0.13.1
ply==3.11
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-bdd==4.0.2
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-reportportal==5.0.8
reportportal-client==5.0.10
requests==2.25.1
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.16.0
toml==0.10.2
urllib3==1.26.4
webdriver-manager==3.4.1
behave==1.2.6
