<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/cs-cf-log.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>